/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
.navbar{
    background-color: black !important;
}
.nav-link {
  color: white !important;
}

#logo {
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container{
    margin-top: 50px;
}


.jumbotron {
  background-image: url('image.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}


html,
body {
  height: 100%;
    background-color: lightgrey;

}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

#sticky-footer {
  flex-shrink: none;
}